{% extends "master.html" %}

{% block title %}
My Tennis Club - Listagem de membros
{% endblock %}


{% block content %}

<div class="card mt-2">

    <div class="card-header">
        Membros
    </div>

    <div class="card-body">

        <ul>
            {% for x in mymembers %}
            <li class="list-group-item">
                <a href="details/{{ x.id }}"> {{ x.firstName }} {{ x.lastName }} </a>
                <a href="delete/{{ x.id }}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                <a href="update/{{ x.id }}" class="btn btn-info"><i class="fa-solid fa-pen"></i></a>
            </li>
            {% endfor %}
        </ul>

        <p class="mt-3">
            <a href="add/">Adicionar</a>
        </p>
    </div>
</div>
{% endblock %}