<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">

            <!-- <h1>My Tennis Club</h1> -->
            {% load static %}
                <a class="nav-link active" href="/"><img src="{% static 'img/tennis_club.png' %}" width="100" />
        </a>

        <button class="navbar-toogler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            ><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>                    
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/members">Membros</a>                    
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/vendors">Fornecedores</a>                    
                </li>
            </ul>
        </div>
    </div>
</nav>